<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}NICK&ZAYNE{% endblock %}</title>
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
        <script>
          {% block scripts %}
          {% endblock %}
        </script>
    </head>
    <style>
        .navbar-brand {
            transform: translateX(-50%);
            left: 50%;
            position: absolute;
            width: 200px;
          }
          #contentDiv {
            margin: auto;
            width: 80%;
            padding: 10px;
          }
    </style>
    <body>
        {% comment %} Navbar {% endcomment %}
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="container-fluid">
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                {% comment %} Contents of navbar {% endcomment %}
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/basket/">Basket</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/wishlist/">Wishlist</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/logout/">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="/login/">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/registration/">Register</a>
                    </li>
                {% endif %}
                  <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                      Categories
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                      <li><a class="dropdown-item" href="/category/coats/">Coats</a></li>
                      <li><a class="dropdown-item" href="/category/hats/">Hats</a></li>
                      <li><a class="dropdown-item" href="/category/hoodies/">Hoodies</a></li>
                      <li><a class="dropdown-item" href="/category/jackets/">Jackets</a></li>
                      <li><a class="dropdown-item" href="/category/shirts/">Shirts</a></li>
                      <li><a class="dropdown-item" href="/category/shorts/">Shorts</a></li>
                      <li><a class="dropdown-item" href="/category/socks/">Socks</a></li>
                      <li><a class="dropdown-item" href="/category/sweaters/">Sweaters</a></li>
                      <li><a class="dropdown-item" href="/category/t-shirts/">T-Shirts</a></li>
                      <li><a class="dropdown-item" href="/category/trousers/">Trousers</a></li>
                    </ul>
                  </li>
                </ul>

                <a class="navbar-brand mx-auto" href="/">Nick&Zayne</a>
                <form class="d-flex" action="/search/">
                  <input class="form-control" type="search" placeholder="Search" aria-label="Search" name="search">
                  <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
              </div>
            </div>
        </nav>
        {% bootstrap_messages %}
        <div id="contentDiv">
            {% block content %}
                <p>Lorem Ipsum</p>
            {% endblock %}
        </div>
        <footer>
          <div class="container-fluid bg-dark text-light mt-5 pt-5">
              <div class="container py-5">
                  <div class="row">
                    <div class="col-sm-12 col-md-3 col-lg-3">
                      <h6>Information</h6>
                      <p class="font-weight-light">
                        <a href="#">About Us</a>
                        <br/>
                        <a href="#">Contact Us</a>
                        <br/>
                        <a href="#">FAQs</a>
                      </p>
                  </div>
                  <div class="col-sm-12 col-md-3 col-lg-3">
                    <h6>Social Media</h6>
                    <p class="font-weight-light">
                        <a href="#">Facebook</a>
                        <br/>
                        <a href="#">Instagram</a>
                    </p>
                </div>
                <div class="col-sm-12 col-md-6 col-lg-6">  
                  <h6>Customer Service</h6>
                  <p class="font-weight-light">
                    <a href="#">Terms of Service</a>
                    <br/>
                    <a href="#">Privacy Policy</a>
                    <br/>
                    <a href="#">Returns and Refunds</a>
                  </p>
                  </div>
              </div>
          </div>
      </footer>
    </body>
</html>
