<!DOCTYPE html>
<html>
    <body>
        {% if messages %}
            <ul class="messages">
                {% for message in messages %}
                <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                {% endfor %}
            </ul>
        {% endif %}
        {% if user.is_authenticated %}
            <h1>You are logged in</h1>
            <a href="/logout/">LOG OUT</a>
        {% else %}
            <h1>Hello World!</h1>
            <a href="/registration/">REGISTER</a>
            <a href="/login/">LOG IN</a>
        {% endif %}
    </body>
</html>

